body{
    padding: 0.5em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.contact-card{
    display: flex;
    justify-content: space-between;
}
.invalid-feedback{
    display: inline-block;
    visibility: hidden;
}

#theList{
    margin-right: 10%;
}

.contact-card:hover{
    cursor: pointer;
}

.contact-card > button:hover{
    transition: all 100ms;
    transform: scale(1.1) translateY(1.2);
    color: tomato;
}