body{
    padding: 0.5em;
}
.contact-card{
    display: flex;
    justify-content: space-between;
}
.invalid-feedback{
    display: inline-block;
    visibility: hidden;
}

#theList{
    margin-right: 10%;
}